.pageContainer {
    display: flex;
    flex-direction: row;
}
.sideBar{
    background-image: url("./Side\ bar.jpg");
    flex: 1.5;
    min-width: 300px;
}
.content {
    background-image: url("./background.jpg");
    flex: 6;
    min-width: 800px;
}

img {
    height:200px;
    width:200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
}
#introduction {
    list-style-type: none;
    font-size: 20px;
    padding-left:0px;
}
#presentation {
    color: white;
    font-size: 50px;
    background-image: url("./background\ Up-.jpg");
    background-size: cover;
    text-align: left;
    padding:50px 50px 50px 90px;
}

.contactHeader {
    text-decoration: underline;
    position: relative;
    display: block;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin:40px;
    
}
.experience1 ul{
    list-style-type: none;
}
.subContent {
    margin:70px;
    font-size:20px;
}
.column {
    display: flex;
}
.left {
    width:13%;
}
.right {
    width:40%;
}
.mainSpecialization2 {
    display:flex;
    flex-direction: row;
    justify-content: left;
}
#specializationItem1 {
    background-image: url("./Item\ 1.png");
    margin-right:100px;
    height:100px;
    width:100px;
    text-align: center;
    padding:25px;
    border-radius: 50%;
    font-weight: bold;
    border:3px solid black;
}
#specializationItem2 {
    background-image: url("./Item\ 2.png");
    margin-right:100px;
    height:100px;
    width:100px;
    text-align: center;
    padding:25px;
    border-radius: 50%;
    font-weight: bold;
    border:3px solid black;
    
}
#specializationItem3 {
    background-image: url("./Item\ 3.jfif");
    margin-right:100px;
    height:100px;
    width:100px;
    text-align: center;
    padding:25px;
    border-radius: 50%;
    font-weight: bold;
    border:3px solid black;
}
#specializationItem4 {
    background-image: url("./Item\ 4.jpg");
    margin-right:100px;
    height:100px;
    width:100px;
    text-align: center;
    padding:25px;
    border-radius: 50%;
    font-weight: bold;
    border:3px solid black;
}
#jobTitle1 {
    font-weight:bold;
    font-size: 25px;
}
#jobTitle2 {
    font-weight:bold;
    font-size: 25px;
}
#company1 {
    color: #808080;
    font-style: italic;
}
#company2 {
    color: #808080;
    font-style: italic;
}
.descriptionJob {
    color: #404040;
}
.educationHeader {
    text-decoration: underline;
    position: relative;
    display: block;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-top:70px;
    margin-bottom:30px;
}
.languages {
    text-decoration: underline;
    position: relative;
    display: block;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-top:70px;
    margin-bottom:30px;
}
.contactInformation {
    margin-bottom: 20px;
}
.contact-flex {
    display:flex;
    flex-direction: row;
}
.contact-flex img {
    height:25px;
    width:25px;
    margin-left:10px;
    margin-right:15px;
    border-radius: 0%;
}
.subcontact-flex {
    display:flex;
    flex-direction: column;
}
#svg2 {
    margin-top:20px;
}
#svg3 {
    margin-top:12px;
}


